{% extends 'base.html' %}


{% block content %}

{% include 'nav.html' %}

<div class="container mt-4 rounded border shadow p-4">
    <div class="row">
        <h4>Contato</h4>
        <div class="col-md-6">
            Nome:
            <input type="text" value="{{obj.name}}" checked class="form-control bg-secondary text-white" readonly>
        </div>
        <div class="col-md-6">
            E-mail:
            <input type="text" value="{{obj.email}}" checked class="form-control bg-secondary text-white" readonly>
        </div>
        <div class="col-md-12">
            Assunto:
            <input type="text" value="{{obj.subject}}" checked class="form-control bg-secondary text-white" readonly>
        </div>
        <div class="col-md-12">
            Menssagem:
            <textarea type="text" rows="10" class="form-control bg-secondary text-white" readonly>{{obj.message}}</textarea>
        </div>
        <div class="btn btn-danger col-md-1 mt-4">Deletar</div>
    </div>


</div>

{% endblock %}

