<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contato</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
</head>
<body>
    {% include 'nav.html' %}
    
    <div class="container">
        <h2 class="text-center mt-4">Contato</h2>
        <form action="" method="post" class="row mt-4 p-4 rounded border shadow">
            {{ form.csrf_token }}
            
            {{ form.name.label('Nome') }}
            {{ form.name(class='form-control') }}

            {{ form.email.label('E-mail') }}
            {{ form.email(class='form-control') }}

            {{ form.subject.label('Assunto') }}
            {{ form.subject(class='form-control') }}

            {{ form.message.label('Menssagem') }}
            {{ form.message(class='form-control') }}
            
            {{ form.btn_submit(class='btn btn-dark col-12 mt-2') }}
        </form>
    </div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
        crossorigin="anonymous">
    </script>
</body>
</html>