{% extends 'base.html'%}
{% block content %}
    {% include 'nav.html' %}

    <div class="container">
        <div class="row mt-4">
            <h3>Lista de Contatos</h3>

            <form method="GET" class="row mt-4 mb-4">
                <div class="col-9">
                    <input type="text" name="pesquisa" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </form>

            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Assunto</th>
                            <th>Respondido</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in context['dados'] %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.subject }}</td>
                                <td>{{ 'Sim' if i.answered else 'Não'}}</td>
                                <td>
                                    <a href="{{ url_for( 'contato_detail', id=i.id ) }}">
                                        <img src="{{url_for('static',filename='img/btn.png')}}" style="width: 20px;">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
{% endblock %}